# Stellar Configuration
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
CORE_CONTRACT_ID=C...
ESCROW_CONTRACT_ID=C...
FACTORY_CONTRACT_ID=C...
AUCTION_CONTRACT_ID=C...

# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/db_name

# API Authentication
API_KEYS=key1,key2,key3 # Comma-separated list of valid API keys

KEEPER_ENABLED=false
KEEPER_SECRET_KEY=

STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

TYPEORM_SYNCHRONIZE=true
PORT=3000
